.idea
dev/.htaccess
dev/tests/
lib/.htaccess
lib/3Dsecure/
lib/Cm/
lib/Credis/
lib/flex/
lib/LinLibertineFont/
lib/Mage/
lib/Magento/
lib/Net/
lib/PEAR/
lib/Pelago/
lib/phpseclib/
lib/Varien/
lib/Zend/
.htaccess
app/bootstrap.php
.htaccess.sample
.modgit/
.modman/
app/code/community/Phoenix/
app/code/community/Cm/
app/code/core/
app/design/adminhtml/default/default/
app/design/frontend/base/default/etc/
app/design/frontend/base/default/layout/authorizenet.xml
app/design/frontend/base/default/layout/bml.xml
app/design/frontend/base/default/layout/bundle.xml
app/design/frontend/base/default/layout/captcha.xml
app/design/frontend/base/default/layout/catalog.xml
app/design/frontend/base/default/layout/catalog_msrp.xml
app/design/frontend/base/default/layout/cataloginventory.xml
app/design/frontend/base/default/layout/catalogsearch.xml
app/design/frontend/base/default/layout/centinel.xml
app/design/frontend/base/default/layout/checkout.xml
app/design/frontend/base/default/layout/cms.xml
app/design/frontend/base/default/layout/contacts.xml
app/design/frontend/base/default/layout/core.xml
app/design/frontend/base/default/layout/customer.xml
app/design/frontend/base/default/layout/directory.xml
app/design/frontend/base/default/layout/downloadable.xml
app/design/frontend/base/default/layout/googleanalytics.xml
app/design/frontend/base/default/layout/moneybookers.xml
app/design/frontend/base/default/layout/newsletter.xml
app/design/frontend/base/default/layout/oauth.xml
app/design/frontend/base/default/layout/page.xml
app/design/frontend/base/default/layout/pagecache.xml
app/design/frontend/base/default/layout/payment.xml
app/design/frontend/base/default/layout/paypal.xml
app/design/frontend/base/default/layout/paypaluk.xml
app/design/frontend/base/default/layout/persistent.xml
app/design/frontend/base/default/layout/poll.xml
app/design/frontend/base/default/layout/productalert.xml
app/design/frontend/base/default/layout/reports.xml
app/design/frontend/base/default/layout/review.xml
app/design/frontend/base/default/layout/rss.xml
app/design/frontend/base/default/layout/sales
app/design/frontend/base/default/layout/sales.xml
app/design/frontend/base/default/layout/sendfriend.xml
app/design/frontend/base/default/layout/shipping.xml
app/design/frontend/base/default/layout/tag.xml
app/design/frontend/base/default/layout/weee.xml
app/design/frontend/base/default/layout/wishlist.xml
app/design/frontend/base/default/layout/xmlconnect.xml
app/design/frontend/base/default/template/authorizenet
app/design/frontend/base/default/template/bundle
app/design/frontend/base/default/template/callouts
app/design/frontend/base/default/template/captcha
app/design/frontend/base/default/template/catalog
app/design/frontend/base/default/template/cataloginventory
app/design/frontend/base/default/template/catalogsearch
app/design/frontend/base/default/template/centinel
app/design/frontend/base/default/template/checkout
app/design/frontend/base/default/template/cms
app/design/frontend/base/default/template/contacts
app/design/frontend/base/default/template/core
app/design/frontend/base/default/template/customer
app/design/frontend/base/default/template/directory
app/design/frontend/base/default/template/downloadable
app/design/frontend/base/default/template/email
app/design/frontend/base/default/template/giftmessage
app/design/frontend/base/default/template/googleanalytics
app/design/frontend/base/default/template/moneybookers
app/design/frontend/base/default/template/newsletter
app/design/frontend/base/default/template/oauth
app/design/frontend/base/default/template/page
app/design/frontend/base/default/template/pagecache
app/design/frontend/base/default/template/paygate
app/design/frontend/base/default/template/payment
app/design/frontend/base/default/template/paypal
app/design/frontend/base/default/template/persistent
app/design/frontend/base/default/template/poll
app/design/frontend/base/default/template/productalert
app/design/frontend/base/default/template/rating
app/design/frontend/base/default/template/reports
app/design/frontend/base/default/template/review
app/design/frontend/base/default/template/rss
app/design/frontend/base/default/template/sales
app/design/frontend/base/default/template/sendfriend
app/design/frontend/base/default/template/shipping
app/design/frontend/base/default/template/tag
app/design/frontend/base/default/template/tax
app/design/frontend/base/default/template/wishlist
app/design/frontend/base/default/template/xmlconnect
app/design/frontend/rwd/
app/design/frontend/default/blank/
app/design/frontend/default/default/
app/design/frontend/default/iphone/
app/design/frontend/default/modern/
app/design/frontend/enterprise/default
app/design/install/
app/etc/modules/Enterprise_*
app/etc/modules/Mage_All.xml
app/etc/modules/Mage_Api.xml
app/etc/modules/Mage_Api2.xml
app/etc/modules/Mage_Authorizenet.xml
app/etc/modules/Mage_Bundle.xml
app/etc/modules/Mage_Captcha.xml
app/etc/modules/Mage_Centinel.xml
app/etc/modules/Mage_Compiler.xml
app/etc/modules/Mage_ConfigurableSwatches.xml
app/etc/modules/Mage_Connect.xml
app/etc/modules/Mage_CurrencySymbol.xml
app/etc/modules/Mage_Downloadable.xml
app/etc/modules/Mage_ImportExport.xml
app/etc/modules/Mage_LoadTest.xml
app/etc/modules/Mage_Oauth.xml
app/etc/modules/Mage_PageCache.xml
app/etc/modules/Mage_Persistent.xml
app/etc/modules/Mage_Weee.xml
app/etc/modules/Mage_Widget.xml
app/etc/modules/Mage_XmlConnect.xml
app/etc/modules/Phoenix_Moneybookers.xml
app/etc/modules/Cm_RedisSession.xml
app/etc/applied.patches.list
app/etc/config.xml
app/etc/enterprise.xml
app/etc/local.xml.additional
app/etc/local.xml.template
app/etc/local.xml
app/.htaccess
app/locale/
app/Mage.php
/cron.php
cron.sh
downloader/
errors/
favicon.ico
/get.php
includes/
/index.php
index.php.sample
/install.php
js/blank.html
js/calendar/
js/enterprise/
js/extjs/
js/firebug/
js/flash/
js/index.php
js/jscolor/
js/lib/
js/mage/
js/prototype/
js/scriptaculous/
js/spacer.gif
js/tiny_mce/
js/varien/
lib/3Dsecure/
lib/Apache/
lib/flex/
lib/googlecheckout/
lib/.htaccess
lib/LinLibertineFont/
lib/Mage/
lib/PEAR/
lib/Pelago/
lib/phpseclib/
lib/Varien/
lib/Zend/
lib/Cm/
lib/Credis/
lib/Magento/
LICENSE_AFL.txt
LICENSE.html
LICENSE.txt
LICENSE_EE*
/mage
media/customer/
media/dhl/
media/downloadable/
media/.htaccess
media/import/
media/xmlconnect/
media/catalog/product/cache/
media/catalog/product/placeholder/default/
/api.php
nbproject/
pear
pear/
php.ini.sample
pkginfo/
RELEASE_NOTES.txt
shell/abstract.php
shell/compiler.php
shell/indexer.php
shell/log.php
sitemap.xml
skin/adminhtml/default/default/
skin/adminhtml/default/enterprise
skin/frontend/base/
skin/frontend/rwd/
skin/frontend/default/blank/
skin/frontend/default/blue/
skin/frontend/default/default/
skin/frontend/default/french/
skin/frontend/default/german/
skin/frontend/default/iphone/
skin/frontend/default/modern/
skin/frontend/enterprise
skin/install/
var/
