<?xml version="1.0"?>
<config>
    <modules>
        <Cmsmart_Megamenu>
            <version>0.1.0</version>
        </Cmsmart_Megamenu>
    </modules>
    
	 <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Csmmart_Megamenu before="Mage_Adminhtml">Cmsmart_Megamenu</Csmmart_Megamenu>
                    </modules>
                </args>
                <megamenu_mysql4>
					<class>Cmsmart_Megamenu_Model_Mysql4</class>
					<entities>
						<megamenu>
							<table>admin_menutop</table>
						</megamenu>
					</entities>
				</megamenu_mysql4>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <megamenu module="Cmsmart_Megamenu">
                    <file>cmsmart/megamenu/cmsmart_megamenu.xml</file>
                </megamenu>
            </updates>
        </layout>
        <events>
            <core_layout_block_create_after>
                <observers>
                    <megamenu>
                        <type>singleton</type>
                        <class>megamenu/observer</class>
                        <method>checkLayouts</method>
                    </megamenu>
                </observers>
            </core_layout_block_create_after>
        </events>
    </frontend>
	<adminhtml>
        <layout>
            <updates>
                <megamenu>
                    <file>cmsmart/cmsmart_megamenu.xml</file>
                </megamenu>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <megamenu>
                <class>Cmsmart_Megamenu_Model</class>
                <resourceModel>megamenu_mysql4</resourceModel>
            </megamenu>
            <megamenu_mysql4>
                <class>Cmsmart_Megamenu_Model_Mysql4</class>
                <entities>
                    <megamenu>
                        <table>admin_menutop</table>
                    </megamenu>
                </entities>
            </megamenu_mysql4>
        </models>
        <resources>
            <megamenu_setup>
                <setup>
                    <module>Cmsmart_Megamenu</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </megamenu_setup>
            <megamenu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </megamenu_write>
            <megamenu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </megamenu_read>
        </resources>
        <blocks>
            <megamenu>
                <class>Cmsmart_Megamenu_Block</class>
            </megamenu>
			<adminhtml ifconfig ="advanced/modules_disable_output/Cmsmart_Megamenu">
				<rewrite>
					<catalog_category_tabs>Cmsmart_Megamenu_Block_Catalog_Category_Tabs</catalog_category_tabs>
				</rewrite>
			</adminhtml>
        </blocks>
        <helpers>
            <megamenu>
                <class>Cmsmart_Megamenu_Helper</class>
            </megamenu>
        </helpers>
		<events> 
            <catalog_category_prepare_save>
           	 <observers>
              <Cmsmart_megamenu_observer>
                <class>Cmsmart_Megamenu_Model_Observer</class>
                <method>saveCategoryTop</method>
              </Cmsmart_megamenu_observer>
            </observers>
            </catalog_category_prepare_save>
		</events>
    </global>
    <default>
    	<megamenu>
			<cmsmart>
				<license_skuproduct>MG8</license_skuproduct>
			</cmsmart>
	    	<mainmenu>
				<enabled>1</enabled>
	    		<home>0</home>         
				<home_color></home_color>	
				<home_background ></home_background >	
                <width_menu>950</width_menu>
                <width_thumbnail_category>24</width_thumbnail_category>
                <height_thumbnail_category>29</height_thumbnail_category>
	    	</mainmenu>
    	</megamenu>
    </default>
</config>
